@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

label {
    cursor: pointer;
}

.wrapper {
    font-family: "Roboto";
    height: 100%;
    background: #e5ebeb;
}

.global__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.kcalc {
    padding-top: 50px;
}

.gender__title {
    margin-bottom: 50px;
}

.gender__block {
    width: 500px;
    margin: 0 auto 70px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2039215686);
}

.gender__item:first-child {
    position: relative;
}

.gender__item:first-child::after {
    content: url(../images/darrow.png);
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
    padding: 1px;
    height: 30px;
    width: 30px;
    background: #fff;
    border: solid 2px #7b7b7b;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.gender__fake {
    width: 250px;
    height: 100px;
    background: #fff;
    line-height: 100px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.gender__input {
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0px;
    width: 0px;
    opacity: 0;
}

.gender__input:checked + .gender__fake {
    background: #54cf4f;
    color: #fff;
}

.constitution {
    margin-bottom: 100px;
}

.constitution__title {
    margin-bottom: 50px;
}

.constitution__block {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.constitution__input {
    height: 70px;
    width: 250px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2039215686);
    font-size: 24px;
    color: #000000;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
}

.constitution__input::-moz-placeholder {
    opacity: 0.5;
}

.constitution__input::placeholder {
    opacity: 0.5;
}

.activity__title {
    margin-bottom: 50px;
}

.activity__block {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 0;
    margin-bottom: 70px;
}

.activity__fake {
    height: 70px;
    width: 300px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2039215686);
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    font-weight: 500;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.activity__input {
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    opacity: 0;
}

.activity__input:checked + .activity__fake {
    background: #54cf4f;
    color: #fff;
}

.value {
    padding-left: 50%;
}

.value__text {
    display: inline-block;
    padding-top: 70px;
    border-top: solid 1.5px #7b7b7b;
    transform: translateX(-50%);
}

.value__text span:first-child {
    display: inline-block;
    width: 100px;
}

.value__text span:last-child {
    display: inline-block;
    width: 150px;
    border-bottom: solid 6px #000;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}